absl-py
accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
albucore
albumentations
altair
annotated-types
antlr4-python3-runtime
anyio
argcomplete
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
babel
beautifulsoup4
bleach
Brotli
build
CacheControl
certifi
cffi
charset-normalizer
cleo
click
colorama
comm
contourpy
crashtest
cryptography
cycler
datasets
debugpy
decorator
defusedxml
diffusers
dill
distlib
distro
docopt
dulwich
einops
et_xmlfile
evaluate
executing
fastapi
fastjsonschema
ffmpy
filelock
flatbuffers
fonttools
fqdn
frozenlist
fsspec
ftfy
gast
gdown
google-pasta
gradio
gradio_client
greenlet
groovy
grpcio
h11
h5py
html5lib
httpcore
httpx
huggingface-hub
idna
imageio
imbalanced-learn
importlib_metadata
installer
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
jaraco.classes
jedi
jeepney
Jinja2
jiter
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
keyring
kiwisolver
lazy_loader
libclang
lightning
lightning-utilities
llvmlite
lockfile
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mkl-service
mkl_fft
mkl_random
ml_dtypes
mlxtend
modin
monai
more-itertools
mpmath
msgpack
multidict
multiprocess
namex
narwhals
nbclient
nbconvert
nbformat
neovim-sh
nest-asyncio
networkx
notebook
notebook_shim
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
omegaconf
openai
openai-clip
opencv-python
opencv-python-headless
openpyxl
opt_einsum
optimum
optree
orjson
overrides
packaging
pandas
pandocfilters
parso
peft
pexpect
pillow
pipx
pkginfo
platformdirs
plotly
poetry
poetry-core
poetry-plugin-export
polars
pretty-errors
progressbar
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
py-cpuinfo
pyarrow
pycparser
pydantic
pydantic_core
pydub
pyflakes
Pygments
pynndescent
pynvim
pyOpenSSL
pyparsing
pyproject_hooks
PySocks
python-dateutil
python-json-logger
python-multipart
pytorch-ignite
pytorch-lightning
pytz
pyvim
PyYAML
pyzmq
RapidFuzz
referencing
regex
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
ruff
safehttpx
safetensors
scikit-image
scikit-learn
scipy
seaborn
SecretStorage
semantic-version
Send2Trash
sentence-transformers
shellingham
simsimd
six
sklearn-compat
sniffio
soupsieve
stack-data
starlette
stringzilla
sympy
taming-transformers-rom1504
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tifffile
timm
tinycss2
tokenizers
tomlkit
torch
torch-summary
torchaudio
torchmetrics
torchvision
tornado
tqdm
traitlets
transformers
triton
trove-classifiers
typer
types-python-dateutil
typing-inspection
typing_extensions
tzdata
ultralytics
ultralytics-thop
umap-learn
uri-template
urllib3
userpath
uv
uvicorn
virtualenv
voila
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wrapt
xxhash
yarl
zipp
